parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function should return T but returns Generator\\<mixed, array\\<int, string\\>\\|Generator\\|string\\|null, mixed, T\\>\\.$#"
			count: 1
			path: src/util.php

		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: src/util.php
